body {
    font-family: "Jost", sans-serif;
    background-color: #0e1730;
    color: white;
}
.container-besar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.baris-satu {
    display: flex;
    justify-content: space-between;
    color: #cecece;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #605554;
}

.baris-dua {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid #605554;
    margin-bottom: 15px;
}

.kiri {
    padding-right: 80px;
    height: 60px;
    border-right: 1px solid #605554;
    display: flex;
    align-items: center;
    font-size: inherit;
}

.ahref1 {
    color: white;
    background: transparent;
    border: none;
    text-decoration: none;
}

.kanan {
    padding-left: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    border-left: 1px solid #605554;
    color: #fff;
    background: transparent;
    font-family: "Jost", sans-serif;
}
.img-1 {
    margin-left: 10px;
    width: 18px;
    height: 13px;
}
.tulisan-1{
    margin-left: calc(20px / 2);
    margin-right: calc(20px / 1);
}
.mo {
    margin-right: 15px;
}
